server:
  port: ${PORT:8080}

spring:
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://root:example@localhost:27017/identity?authSource=admin}

jwt:
  secret: ${JWT_SECRET}
  issuer: ${JWT_ISSUER}
  audience: ${JWT_AUDIENCE}
  expiration-hours: ${JWT_EXPIRATION_HOURS:24}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web.access: DEBUG
