# Node
node_modules/
.next/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java/Gradle
.gradle/
build/
out/
*.iml
.idea/
*.class

# OS
.DS_Store

# Docker
**/.docker/

# Logs
*.log

# GCS Credentials
**/gcs-credentials.json
services/gcs-credentials.json
